<% title "Log In" %>
<h1>Log In</h1>

<%= form_for :user do |f| %>
    <div class='form'>
      <%= f.label :username, "Username" %><br>
      <%= f.text_field :username %><br>
      
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
    </div>

    <%= f.submit "Log In" %>
<% end %>

<p><%= link_to "Or log in with Twitter", '/auth/twitter', class:'nav_link session_link' %></p>