<% if type == 'users' %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

<% elsif type == 'travelers' %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :descript %>
    <%= f.text_field :descript %>
  </p>

<% elsif type == 'journeys' %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

<% elsif type == 'items' || type == 'spaces' %>
  <p>
    <%= f.label :noun %>
    <%= f.text_field :noun %>
  </p>
  <p>
    <%= f.label :adjective %>
    <%= f.text_field :adjective %>
  </p>
  <p>
    <%= f.label :descript, "Description" %>
    <%= f.text_field :descript %>
  </p>
<% end %>