<% title "Admin Control Panel"%>
<h1>Admin Control Panel</h1>

<%= render partial:'section', locals:{type:'Users'} %>
<%# objs:@users %>

<%= render partial:'section', locals:{type:'Travelers'} %>

<%= render partial:'section', locals:{type:'Journeys'} %>

<%= render partial:'section', locals:{type:'Items'} %>

<%= render partial:'section', locals:{type:'Spaces'} %>

