<% title "Admin Control Panel"%>
<h1>Admin Control Panel</h1>

<%= render partial:'section', locals:{type:'Users', list:@users} %>

<%= render partial:'section', locals:{type:'Travelers', list:@travelers} %>

<%= render partial:'section', locals:{type:'Journeys', list:@journeys} %>

<%= render partial:'section', locals:{type:'Items', list:@items} %>

<%= render partial:'section', locals:{type:'Spaces', list:@spaces} %>

