<% title "Admin Control Panel"%>
<h1>Admin Control Panel</h1>

<%= render partial:'flagged_section', locals:{type:'users', collection:@users} %>

<%= render partial:'flagged_section', locals:{type:'travelers', collection:@travelers} %>

<%= render partial:'flagged_section', locals:{type:'journeys', collection:@journeys} %>

<%= render partial:'flagged_section', locals:{type:'items', collection:@items} %>

<%= render partial:'flagged_section', locals:{type:'spaces', collection:@spaces} %>