<% title @space.name %>
<h1><%= @space.name %></h1>
<p><%= @space.descript || "descript" %></p>
<p>Inside of <%= link_to @space.region.name, region_path(@space.region) %></p>
<!-- Delete later -->
<h4>Items at this space...</h4>
<ul> <% @space.items.each do |i| %>
  <li><%= link_to i.name, item_path(i) %> 
  <!-- if current_journey, link to pickup -->
  </li>
<% end %></ul>

<%= flash[:notice] if flash[:notice].present? %>

<% if current_journey %>
  <%= render partial:"travel_links", locals:{
    three_paths:@three_paths,
    to_space1:@to_space1,
    to_space2:@to_space2,
    from_space:@from_space,
    journey:@journey} %>
<% end %>