<% title @space.name %>
<h1><%= @space.name %></h1>
<p><%= @space.descript || "descript" %></p>
<p>In the <%= link_to @space.region.name, region_path(@space.region) %> Region</p>
<!-- Delete later -->
<p><span class='flash_notice'><%= flash[:notice] if flash[:notice].present? %></span></p>

<h4>Items at this space...</h4>
<ul> <% @space.items.each do |i| %>
  <li><%= link_to i.name, item_path(i) %> 
  <% if current_journey && !session[:wrapup].present? %>
    <%= form_tag({controller:'journeys', action:'pickup_item'}) do %>
      <%= hidden_field_tag "items", i.id %>
      <%= submit_tag "Pick Up Item" %>
    <% end %>
  <% end %>
  </li><br>
<% end %></ul>

<%# <!-- %>
<p>wjo: <%= session[:was_just_on] %></p>
<p>clock: <%= current_journey.clock if current_journey %></p>
<%# --> %>

<% if current_journey %>
  <%= render partial:"travel_links", locals:{
    three_paths:@three_paths,
    to_space1:@to_space1,
    to_space2:@to_space2,
    from_space:@from_space,
    journey:@journey} %>
<% end %>

<%= render partial:'layouts/flag', locals:{obj:@space} %>

<% if currently_admin %>
  <%= link_to "Edit space", edit_space_path(@space) %>
<% end %>

<% @space.memories.each do |m| %>
  <div class='space-mem memory'>
    <%= space_memory_text(m) %>
  </div>
<% end %>