<%= render partial:'layouts/error_display', locals:{obj:user} %>

<%= form_for user do |f| %>
    <div class='form'>
      <%= f.label :username %><br>
      <%= f.text_field :username %><br>
      
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
    </div>
    
    <%= f.submit %>
<% end %>

<div class='vertical-margin-div'>
  <%= button_to "Delete User", @user, method: :delete, data:{confirm:"Really?"} %>
</div>