<% title @user.username %>
<h1>Show User</h1>

<p><%= @user.username %></p>

<%= render partial:'layouts/flag', locals:{obj:@user} %>

<% if user_self_permission(@user) %>
  <div class="vertical-margin-div">
    <p><%= link_to "Edit #{@user.username}", edit_user_path(@user) %></p>
    <p><%= link_to "Create New Traveler", new_traveler_path %></p>
    <p><%= link_to "Begin New Journey", new_journey_path %></p>
  </div>
<% elsif currently_admin %>
  <div class="vertical-margin-div">
    <p><%= link_to "Edit #{@user.username}", edit_user_path(@user)%></p>
  </div>
<% end %>

<h4>Travelers</h4>
<ul><% @user.travelers.each do |t| %>
  <li><%= link_to t.name, traveler_path(t) %></li>
<% end %></ul>

<h4>Journeys</h4>
<ul><% @user.journeys.each do |j| %>
  <li><%= link_to j.name, journey_path(j) %></li>
<% end %></ul>