<%= render partial:'layouts/error_display', locals:{obj:traveler} %>

<%= form_for traveler do |f| %>
  <div class='form'>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :descript, "Description" %><br>
    <%= f.text_field :descript %><br>
  </div>
    <%= f.submit %>
<% end %>

<%= button_to "Delete Traveler", @traveler, method: :delete, data:{confirm:"Really?"} %>