<%= render partial:'layouts/error_display', locals:{obj:traveler} %>

<%= form_for traveler do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :descript %><br>
    <%= f.text_field :descript %><br>

    <!--
    Decided against make New Journey on New Traveler page - just felt wrong
    
    <% if new_path %>
      <h3>Begin New Journey?</h3>
      <%= f.fields_for :journeys, traveler.journeys.build do |j| %>
        <%= j.label :name %><br>
        <%= j.text_field :name %><br>
      <% end %>
    <% end %>
    -->

    <%= f.submit %>
<% end %>