<% title @traveler.name %>
<h1>Show Traveler</h1>

<p>Name: <%= @traveler.name %></p>
<p>Description: <%= @traveler.descript %></p>
<p>User: <%= @traveler.username %></p>

<p>Remembered items:
  <ul><% @traveler.items.each do |i| %>
    <li>
      <%= link_to i.name, item_path(i) %><br>
      <small><%= i.descript %></small><br>
    </li>
  <% end %></ul>
</p>

<p>Remembered journeys:
  <%= render partial:"layouts/list", locals:{objs:@traveler.journeys} %>
</p>

<% if traveler_user_permission(@traveler) %>
  <%= link_to "Edit #{@traveler.name}", edit_traveler_path(@traveler) %>
<% end %>