<% title "Ending Journey..." %>

<%= javascript_pack_tag 'end_journey_redirect' %>

<h1><%= @journey_name %> ends</h1>

<p><%= @traveler %> left behind:</p>

<span class='flavor'>
  <% @items.each do |i| %>
  <p><li>name: <%= i.name %><br>
  location: <%= @space.name %></li></p>
  <% end %><br>

  brought <%= @cast %> into the Ether.<br>
</span>

<div id='end-journey-info'>
  <p>
  Passages shift...<br>
  Space warps. The next time you return, the paths through space will be different.
  </p>
</div>

<p><%= link_to 'Redirecting you to home', '/' %></p>