<% title "Book of Journeys" %>

<h1>Book of Journeys - Table of Contents</h1>
<h4>The 10 most recently completed journeys</h4>

<ul><% @journeys.each do |j| %>
  <li> <%= link_to j.name, j %> </li>
<% end %></ul>

<p><%= index_journeys_if_more_than_10 %></p>
<br>
<p><%= link_to "Dramatis Personæ: Travelers", travelers_path %></p>
<p><%= link_to "Chapters: Regions", regions_path %></p>
<p><%= link_to "Index: Items", items_path %></p>