<% title @journey.name %>

<!-- this represents history of current journey -->
<p>Traveler: <%= show_journey_traveler_name(@journey) %></p>

<p><%= @journey.name %></p>

<% if @journey.completed %>
<p>COMPLETED</p>
<% end %>

<p>Region: <%= link_to @journey.region.name, @journey.region %></p>

<p>Spaces Traveled:
<ul><% @journey.spaces.uniq.each do |s| %>
    <li><%= link_to s.name, region_space_path(s.region, s) %><br>
    <small><%= s.descript %></small></li>
<% end %></ul>
</p>

<% @journey.memories.each do |m| %>
  <div class='item memory'>
    <%= journey_memory_text(m) %>
  </div>
<% end %>