<% title @journey.name %>

<p>Traveler: <%= show_journey_traveler_name(@journey) %></p>

<p><%= @journey.name %></p>

<% if @journey.completed %>
<p>COMPLETED</p>
<% end %>

<p>Region: <%= link_to @journey.region.name, @journey.region %></p>

<p>Spaces Traveled:
<% if !@journey.spaces.empty? %>
  <ul><% @journey.spaces.uniq.each do |s| %>
      <li><%= link_to s.name, region_space_path(s.region, s) %><br>
      <small><%= s.descript %></small></li>
  <% end %></ul>
<% else %>
  <span class='flavor'>The text here is faded.</span>
<% end %>

</p>

<%= render partial:'layouts/flag', locals:{obj:@journey} %>

<% if currently_admin %>
  <%= link_to "Edit journey", edit_journey_path(@journey) %>
<% end %>

<% @journey.memories.each do |m| %>
  <div class='item memory'>
    <%= journey_memory_text(m) %>
  </div>
<% end %>