<% title @journey.name %>

<!-- this represents history of current journey -->
<p>Traveler: <%= link_to @journey.traveler.name, @journey.traveler %></p>
<p><%= @journey.name %></p>

<% if @journey.completed %>
<p>COMPLETED</p>
<% end %>

<p>Region: <%= link_to @journey.region.name, @journey.region %></p>

<p>Spaces Traveled:
<ul><% @journey.spaces.each do |s| %>
    <li><%= link_to s.name, region_space_path(s.region, s) %><br>
    <small><%= s.descript %></small></li>
<% end %></ul>
</p>