<div>
  <% journey = current_journey %>
  <% space = Space.find(session[:was_just_on]) %>
  <%= link_to journey.traveler.name, traveler_path(journey.traveler) %><br>
  
  at <%= link_to space.name, region_space_path(journey.region,space) %><br>
 
  <!-- not rendering a partial here because this will likely go into divs? -->
  Items:<br>
  <ul><% journey.items.each do |i| %>
    <li>
      <%= link_to i.name, item_path(i) %><br>
      <small><%= i.descript %></small><br>
      <%= form_tag({controller:'journeys', action:'drop_item'}) do %>
        <%= hidden_field_tag "items", i.id %>
        <%= submit_tag "Drop Item" %>
      <% end %>
    </li>
  <% end %></ul>

  <%= form_tag({controller:'journeys', action:'wrapup'}) do %>
    <%= hidden_field_tag "wrapup", session[:wrapup] %>
    <%= submit_tag "End Journey" %>
  <% end %>
</div>