<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=  %>
  </head>

  <body>
    <div id='view_wrapper'>
      <%= render "layouts/navbar" %>
      
      
      <% if current_journey %>

        <div id='sidebar'>
          <%= render "layouts/sidebar" %>
        </div>

        <div id='main'>
          <%= yield %>
        </div>

      <% else %>

        <div id='main_no_sidebar'>  
          <%= yield %>
        </div>

      <% end %>

    </div>
  </body>
</html>
